.header {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}
.header-content {
  color: #fff;
  font-size: 40px;
  font-weight: 400px;
  text-align: center;
  font-family: Montserrat;
  width: 100%;
}
