.rating {
  align-items: right;
}
.rating .star {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.star--half path {
  stroke-dasharray: 17;
  stroke-dashoffset: 8.5;
  animation: dash 0.5s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
